<div class="container">
    <div class="main-block">
        <div class="subdiv">
            <table>
                <tr>
                    <th class="border">Campaign name</th>
                    <th>CTR</th>
                    <th>Conversions</th>
                    <th style="border-left: 0rem;padding-left: 1.5rem;">Priority</th>
                    <th class="border">Published</th>
                    <th>Adspot</th>
                    <th>Status</th>
                </tr>
                <div class="hline"></div>
                <tr>
                    <td class="border">50% on Apple magic keyboard</td>
                    <td>12%</td>
                    <td>1203</td>
                    <td class="yellow"><i class="fas fa-circle yellow"></i>6(Medium)</td>
                    <td class="border">5th October 2020 12:19</td>
                    <td>Idle Screen</td>
                    <td class="green"> <div class="outer"><i class="fas fa-circle green"></i>Active</div> </td>
                </tr>
                <div class="hline"></div>
                <tr>
                    <td class="border">12% on Samsung insurances</td>
                    <td>9%</td>
                    <td>1911</td>
                    <td class="green"><i class="fas fa-circle green"></i>9 (High)</td>
                    <td class="border">4th October 12:19</td>
                    <td>Thank you screen</td>
                    
                    <td class="green"><div class="outer"><i class="fas fa-circle green"></i>Active</div></td>
                </tr>
                <div class="hline"></div>
                <tr>
                    <td class="border">Black Friday</td>
                    <td class="gray">N/A</td>
                    <td class="gray">N/A</td>
                    <td class="green"><i class="fas fa-circle green"></i>10 (High)</td>
                    <td class="border">12 Nov 2020</td>
                    <td>Idle screen</td>
                    <td class="yellow" style="border-right:0rem;"><div class="outer-yellow"><i class="fas fa-circle yellow"></i>Upcoming</div></td>
                </tr>
                <div class="hline"></div>
                <tr>
                    <td class="border">12% on Samsung insurances</td>
                    <td>10%</td>
                    <td>312</td>
                    <td class="red"><i class="fas fa-circle red"></i>2 (Low)</td>
                    <td class="border">2 October 2020 12:19</td>
                    <td>Receipt screen</td>
                    <td class="orange"><div class="outer-orange"><i class="fas fa-circle orange"></i>Paused</div></td>
                </tr>
            </table>
        </div>
    </div>
</div>