<div class="navbar">
	<img class="logo" src="assets/logo.png" />
	<div class="content">
        <!-- <button class="nav-button" routerLink="/app-shell">Discover</button>
        <button class="nav-button" routerLink="/app-shell">Connect</button> -->
        <button class="nav-button" routerLink="/main">Main Page</button>
        <button class="nav-button" routerLink="/app-shell/table">Jobs</button>
		<button class="nav-button" routerLink="/app-shell/form1">Form</button>
	</div>
	<img class="icon" src="assets/envelope-regular.svg" style="margin-right: 2%"/>
	<img class="icon" src="assets/cloud-upload-alt-solid.svg" style="margin-right: 15%"/>
  </div>
  <div class="horizontal-line"></div>