<div class="container">
    <div class="main">
      <br>
      <br>
      <br><br><br>
      <p>Personal Details</p>
      <div class="horizontal-line"></div>
      <div class="personal-details">
            <div class="sub-div">
              <div class="first-half">
                    <div class="texts">
                      This information will be <br />
                      displayed as profile details.The <br />
                      details cannot be changed.<br>
                      This information will be <br />
                      displayed as profile details<br />
                      details cannot be changed
                    </div>
              </div>
              <div class="second-half">
                  <form>
                      First Name<br />
                      <i class="far fa-user"></i>
                      <input class="textbox" placeholder="Enter your first name" type="text" style="padding-left: 6%; width:94%;"/><br />
                      <br />
                      Last Name<br />
                      <i class="far fa-user"></i>
                      <input class="textbox" placeholder="Enter your last name" type="text" style="padding-left: 6%; width:94%;"/>
                    </form>
              </div>
          </div>
          Gender<br />
            <div class="sub-div2">
              
              <!-- <div class="gender"> -->
                  <label class="gender">Male
                      <input type="radio" name="radio" id="Male">
                      <span class="checkmark"></span>
                  </label>
                  <label class="gender">Female
                      <input type="radio" name="radio" id="Female">
                      <span class="checkmark"></span>
                  </label>
                  <label class="gender">Others
                      <input type="radio" name="radio" id="Others">
                      <span class="checkmark"></span>
                  </label>
              <!-- </div> -->
            </div>
            <div class="sub-div3">
              <div class="dob">
                  Date of Birth
                    <input type="date" class="date-box" />
              </div>
            </div>
              
      </div>

      <p>Education</p>
      <div class="horizontal-line"></div>
      <div class="education">
            <form>
              Highest Education<br />
              <select class="textbox list" style="width: 100%;">
                    <option>Choose an option</option>
                    <option>B.E</option>
                    <option>M.E</option>
                    <option>B.Sc</option>
                    <option>M.Sc</option>
                    <option>HSC</option>
                    <option>SSLc</option>
              </select>
              First Language<br />
              <i class="fas fa-language"></i>
              <input class="textbox" placeholder="Enter your first language" type="text" style="padding-left: 5%; width:95%;"/><br />
              Second Language<br />
              <i class="fas fa-language"></i>
              <input class="textbox" placeholder="Enter your second language" type="text" style="padding-left: 5%; width:95%;"/>
            </form>
      </div>
      

      <p>Address</p>
      <div class="horizontal-line"></div>
      <div class="address">
            <form>
              Line 1<br />
              <i class="fas fa-map-marker-alt"></i>
              <input class="textbox" type="text" placeholder="Enter the apartment, house, building number" style="padding-left: 4%; width:96%;"/><br />
              Line 2<br />
              <i class="fas fa-map-marker-alt"></i>
              <input class="textbox" type="text" placeholder="Enter the name of the street, area, city" style="padding-left: 4%; width:96%;"/><br />
              Pincode<br />
              <i class="fas fa-map-marker-alt"></i>
              <input class="textbox" type="text" placeholder="Enter the pincode" style="padding-left: 4%; width:96%;"/>
            </form>
      </div>
      <div class="checkbox">
        <p>Job preferred</p>
        <div class="horizontal-line"></div>
            <form>
              <label class="check">Software development
                  <input type="checkbox">
                  <span class="checkbox-mark"></span>
                </label>
                <label class="check">Photoshop
                  <input type="checkbox">
                  <span class="checkbox-mark"></span>
                </label>
                <label class="check">Software testing
                  <input type="checkbox">
                  <span class="checkbox-mark"></span>
                </label>
                <label class="check">MEAN stack developer
                  <input type="checkbox">
                  <span class="checkbox-mark"></span>
                </label>
                <label class="check">Sales
                  <input type="checkbox">
                  <span class="checkbox-mark"></span>
                </label>
                <label class="check">Marketing
                  <input type="checkbox">
                  <span class="checkbox-mark"></span>
                </label>
                <label class="check">Sales and Marketing
                  <input type="checkbox">
                  <span class="checkbox-mark"></span>
                </label>
                <label class="check">Data analyst
                  <input type="checkbox">
                  <span class="checkbox-mark"></span>
                </label>
                
            </form>
      </div>
      <div class="horizontal-line" style="margin-top: 3%;"></div>
      <div class="buttons">
            <button class="button1" type="submit">Cancel</button>
          <button class="button2" type="submit">Submit</button>
            <i class="fas fa-arrow-right" style="color: white; margin-left: 17rem; margin-top: -6px;"></i>
      </div>
    </div>
</div>
